amtech/*
java_code_repo/*
net_repo/*
*.pyc
*.json
*.html
*.css
*.log


python_repo/.svn/entries
python_repo/.svn/format
python_repo/.svn/wc.db
python_repo/.svn/wc.db-journal
python_repo/.svn/pristine/16/1673dff6526e04a9acfb3b49478c9ec5a08d06a6.svn-base
python_repo/.svn/pristine/e1/e1d40e3b07f8a0b8ccd361dcdde051d7a8ebeb44.svn-base
python_repo/.svn/pristine/f9/f91244b78f1fc4ed37b9c2d3ce8f9e04b2343865.svn-base
